.headline {
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  font-family: georgia, sans-serif;
}


.byline {
  font-size: 15px;
  text-transform: uppercase;
  font-family: georgia, sans-serif;
  color: grey;
}

.chapterheadline {
  font-size: 1.5em;
  font-weight: 700;
  font-family: georgia, sans-serif;
}

p {
  font-family: georgia,serif;
  line-height: 180%;
  padding-left: 175px;
  padding-right: 175px;
}

img {
  align-items: center;
  padding-left: 175px;
  padding-bottom: 20px;
}

.caption {
  font-family: georgia,serif;
  font-size: 12px;
  padding-left: 175px;
  position: relative;
  bottom: 20px;
  color: grey;
}

.pagefooter {
  background-color: #5B5A5B;
  color: white;
  position: relative;
  top: 75px;
}

blockquote {
  padding-left: 175px;
  padding-right: 175px;
  font-family: georgia,serif;
  font-size: 25px;
  color: grey;
  font-weight: lighter;
}

.cinteractivetable {
  font-family: georgia,serif;
margin-left: 1000px;
}
