.headline {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}


p {
  font-family: georgia,serif;
  line-height: 180%;
  padding-left: 175px;
  padding-right: 175px;
}

img {
  align-items: center;
  padding-left: 175px;
  padding-bottom: 20px;
}

.caption {
  font-family: georgia,serif;
  font-size: 12px;
  padding-left: 175px;
  position: relative;
  bottom: 20px;
  color: grey;
}

.pagefooter {
  background-color: #5B5A5B;
  color: white;
  position: relative;
  top: 75px;
}
